/***col-right***/
.col-right-nov{
	width: 90%;
	margin: 40px auto;
	overflow: auto;
}
.item-nov{
	position: relative;
	float: right;
	overflow: hidden;
    margin-bottom: 20px;
}
.item-nov:after{
	content: '';
  	display: block;
  	width: 100%;
  	border-bottom: 1px solid #555555;
  	margin-top: 7px;
}
.item-nov span{
	font-family: 'MyriadPro_Regular';
  	font-weight: lighter;
  	color: #555555;
  	padding: 5px 10px;
}
.item-nov .galeria{
	border-right: 1px solid #555555;
}
.gal-nov{
	width: 100%;
	margin:10px 0;
	position: relative;
    overflow: hidden;
    display: none;
}

.slider-galnov{
	overflow:hidden;
  	padding:0;
  	position:relative;
  	text-align:center;
}
.slider-galnov li{
	width: auto;
    display:inline-block;
    overflow:hidden;
}
.gal-nov-box{
	width: 20%;
    margin: 0 10px;
    display: inline-table;
}
.fl-gal-nov-prev{
	position: absolute;
    left: 0;
    top: 20%;
    font-size: 25px;
    z-index: 3000;
}
.fl-gal-nov-next{
	position: absolute;
    right: 0;
    top: 20%;
    font-size: 25px;
    z-index: 3000;
}


/***col-left***/
.col-left-nov{
	background-color: rgba(85, 85, 85, 0.88);
}
.col-left-nov .title-internas{
	top: 40%;
}


